@import "-bootstrap/scss/bootstrap";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
}

@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/jumbotron";






